<div class="recipient-lead-in"><span class="emph">Question for:</span></div>
<div class="content-person-image">
  {{cdn-avatar-from imageUrl=selectedPerson.photo_url height=30 width=30 class="official-image avatar-image"}}
</div>
<div class="content-person-info">
  <span class="content-person-name">{{selectedPerson.full_name}}</span>
  {{!-- commented out due to lack of space, keeping for reference --}}
  <span class="content-person-short-description">{{!person-affiliation person=selectedPerson}}</span>
</div>

<form {{action "save" on="submit"}} class="question-input">
  <fieldset>
    <div class="error">{{errorMessage}}</div>

    <label></label>

    {{textarea value=model.title class="summary-input" cols="30" rows="2" maxlength="100" placeholder="Summary..."}}

    <label class="question-body-label">
      Full Question [optional]
    </label>

    <div class="tip question">Why is this important?</div>

    {{textarea value=model.body class="body-input" cols="30" rows="10" placeholder="Go on..."}}

    <div class="tip question">
      Add image or video links to show them. Twitter #hashtags work too.
    </div>

    <label class="question-user-email">
      Email
    </label>

    {{input value=model.user.email class="email-input" placeholder="john.doe@gmail.com"}}


    <div class="tip email">
      Your email is required to send your question and to let you know when it
      is answered.
    </div>
  </fieldset>

  {{#ic-modal-trigger class="emph"}}Cancel{{/ic-modal-trigger}}
  <input type="submit" value="Publish"/>
</form>
