<div class="recipient-lead-in"><span class="emph">Question for:</span></div>
<div class="content-person-image">
  {{cdn-avatar-from imageUrl=selectedPerson.photo_url height=30 width=30 class="official-image avatar-image"}}
</div>
<div class="content-person-info">
  <span class="content-person-name">{{selectedPerson.full_name}}</span>
  {{!-- commented out due to lack of space, keeping for reference --}}
  <span class="content-person-short-description">{{!person-affiliation person=selectedPerson}}</span>
</div>

<form {{action "save" on="submit"}} class="question-input">
  <fieldset>
    <label></label>

    {{textarea value=question.summary class="summary-input" cols="30" rows="2" maxlength="100"}}

    <label class="question-body-label">
      Why is this important? [optional]
    </label>

    {{textarea value=question.body class="body-input" cols="30" rows="10"}}

    <div class="tip question">
      Add image or video links to show them. Twitter #hashtags work too.
    </div>

    <label class="question-user-email">
      Email
    </label>

    {{input value=email class="email-input"}}

    <div class="tip email">
      Your email address is required to send your question and to share the
      answer with you later.
    </div>
  </fieldset>

  <input type="submit" value="Publish"/>
</form>
